<div *ngIf="employee">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ employee.employee_name }}</mat-card-title>
        <mat-card-subtitle>Employee Details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>ID:</strong> {{ employee.id }}</p>
        <p><strong>Salary:</strong> {{ employee.employee_salary | currency:'USD' }}</p>
        <p><strong>Age:</strong> {{ employee.employee_age | age }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  